<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Alternanza | Arduino</title>
  <link rel='stylesheet' href="../stylesheets/style.css">
  <link rel='stylesheet' href="../stylesheets/articoli.css">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("#tornaSu").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $("#social").offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>

</head>
<body>
<div class="container">
  <div class="div1" id="d1">
    <div class="bar">
      <div class="fixedMenu">
        <ul id="menu">
          <li id="back">
            <a href="../index.html"><h1> &lt </h1></a>
          </li>
          <li>
            <a href="#"><h1 id="titolo">PROGETTO ARDUINO</h1></a>
          </li>
          <li id="img">
            <a href="http://pascal.gov.it/"><img src="../images/shell.png" width="30px"></a>
          </li>
        </ul>
      </div>

      <hr>
      <ul id="social">

        <li>
          <a href="https://twitter.com/terzi333">
            <img src="../images/twitter.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/_alleterzi_/">
            <img src="../images/insta.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="intro">
      <div class="hh">
        <h2>Introduzione</h2>
      </div>

        <p>
          lunedi’ 7 gennaio inziava per la 3C e per la 3D l’attivita’ di alternanza
          scuola lavoro presso Unindustria a Reggio Emilia, e dopo un primo giorno
          di presentazione dell’intera esperienza ,il giorno successivo subito ci venne
          presentato il primo progetto da realizzare.
          Il Prof Carpanoni ci ha presentato una commessa organizzata dall’azienda
          (ovviamente fittizia) Ziewenz, il progetto consisteva nel programmare
          tramite Arduino un dispositivo, da inserire all’interno di un vaso, in
          grado di monitorare la temperatura e il livello di luminosita’, oltre che
          con la parte informatica pero’ bisognava vedersela anche con la parte economica
          relativa ai costi di produzione, stipendi ecc. cercando di proporre comunque
          il prezzo piu’ adeguato. I prezzi da produrre erano 100000
          I gruppi di lavoro erano formati da 4 persone, ogni gruppo conteneva 2
          ragazzi/e di una classe e 2 dell’altra. La scadenza era fissata a giovedi’ 11.
        </p>

      <div class="hh">
        <h2>Il nostro team</h2>
      </div>

      <div class="pp">
        <p>
          Io ero finito con Gaetano, Andrea e Alessandro, questi ultimi due della 3D,
           il team si chiamava HypeSensor. Ci eravamo decisi a suddividere il lavoro
           fra: parte economica e parte informatica. Io insieme ad Andrea curammo la
           parte informatica.
          Per quanto mi riguarda mi ero trovato molto bene con questi ragazzi, sia per
          la parte lavorativa che quella puramente relazionale, e’ stata un’esperienza
          molto interessante.
        </p>
      </div>

      <div class="hh">
        <h2>Il Prodotto</h2>
      </div>

      <div class="pp">
        <p>
          il nostro prodotto si chiamava Boxshore e implementava oltre ai 2
          sensori oblligatori anche quello dell’umidita’ per monitorare lo
          stato di idratazione della pianta. Qual’ora fosse andato sotto il 20%
          un led rosso avrebbe cominciato a lampeggiare. Il funzionamento del
          nostro prodotto e’ mostrato nel video in background al mio sito.
          Queste qui di seguito sono le slide che presentammo giovedi 11 che
          mostrano le spefiche di Boxshore
        </p>
        <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <img src="../images/arduino/prodotto2.jpg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <img src="../images/arduino/prodotto1.jpg" style="width:100%">
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <script>
        var slideIndex = 1;
          showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          slides[slideIndex-1].style.opacity = 1;
          dots[slideIndex-1].className += " active";
        }
        </script>
      </div>

      <div class="hh">
        <h2>Costi e ricavi</h2>
      </div>

      <div class="pp">
        <p>
          anche qui di seguito sono presenti le slide che avevamo fatto
          tenere conto del costo di un singolo pezzo, del prezzo di vendita,
          e dei rispettivi guadagni calcolati secondo vari profili temporali.
        </p>
        <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
        <div class="mySlides1 fade">
          <img src="../images/arduino/costi1.png" style="width:100%">
        </div>

        <div class="mySlides1 fade">
          <img src="../images/arduino/costi2.png" style="width:100%">
        </div>

        <div class="mySlides1 fade">
          <img src="../images/arduino/costi3.png" style="width:100%">
        </div>


        <!-- Next and previous buttons -->
        <a class="prev1" onclick="plusSlides1(-1)">&#10094;</a>
        <a class="next1" onclick="plusSlides1(1)">&#10095;</a>
      </div>
      <br>

      <script>
      var slideIndex = 1;
        showSlides1(slideIndex);

      // Next/previous controls
      function plusSlides1(n) {
        showSlides1(slideIndex += n);
      }

      // Thumbnail image controls
      function currentSlide(n) {
        showSlides1(slideIndex = n);
      }

      function showSlides1(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides1");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        slides[slideIndex-1].style.opacity = 1;
        dots[slideIndex-1].className += " active";
      }
      </script>
      </div>
      <div class="hh">
        <h2>Conclusione</h2>
      </div>

      <div class="pp" id="conclusione">
        <p>
          come ho gia’ scritto in precedenza ho trovato questo progetto
           molto stimolante e formativo, infatti com’e’ successo anche
           per gli altri progetti, abbiamo lavorato in team e
           parlato in pubblico, attivita’ che non abbiamo opportunita’
           di sperimentare molto spesso in classe, ma che riguardano delle
           capacita’ fondamentali nel mondo del lavoro
        </p>
      </div>

    </div>
    <footer>
      <a href="#social" id="tornaSu">^</a>
    </footer>
  </div>
</body>
</html>
