<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Progetto Arduino</title>
  <link rel='stylesheet' href="../stylesheets/style.css">
  <link rel='stylesheet' href="../stylesheets/articoli.css">
</head>
<body>
<div class="container">
  <div class="div1" id="d1">
    <div class="bar">
      <ul id="menu">
        <li id="back">
          <a href="../index.html"><h1> &lt </h1></a>
        </li>
        <li>
          <a href="#"><h1 id="titolo">PROGETTO ARDUINO</h1></a>
        </li>
        <li id="img">
          <a href="http://pascal.gov.it/"><img src="../images/shell.png" width="30px"></a>
        </li>
      </ul>
      <hr>
      <ul id="social">

        <li>
          <a href="https://twitter.com/terzi333">
            <img src="../images/twitter.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/_alleterzi_/">
            <img src="../images/insta.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="intro">
      <div class="hh">
        <h2>Introduzione</h2>
      </div>

        <p>
          lunedi’ 7 gennaio inziava per la 3C e per la 3D l’attivita’ di alternanza
          scuola lavoro presso Unindustria a Reggio Emilia, e dopo un primo giorno
          di presentazione dell’intera esperienza ,il giorno successivo subito ci venne
          presentato il primo progetto da realizzare.
          Il Prof Carpanoni ci ha presentato una commessa organizzata dall’azienda
          (ovviamente fittizia) Ziewenz, il progetto consisteva nel programmare
          tramite Arduino un dispositivo, da inserire all’interno di un vaso, in
          grado di monitorare la temperatura e il livello di luminosita’, oltre che
          con la parte informatica pero’ bisognava vedersela anche con la parte economica
          relativa ai costi di produzione, stipendi ecc. cercando di proporre comunque
          il prezzo piu’ adeguato. I prezzi da produrre erano 100000
          I gruppi di lavoro erano formati da 4 persone, ogni gruppo conteneva 2
          ragazzi/e di una classe e 2 dell’altra. La scadenza era fissata a giovedi’ 11.
        </p>

      <div class="hh">
        <h2>Il nostro team</h2>
      </div>

      <div class="pp">
        <p>
          Io ero finito con Gaetano, Andrea e Alessandro, questi ultimi due della 3D,
           il team si chiamava HypeSensor. Ci eravamo decisi a suddividere il lavoro
           fra: parte economica e parte informatica. Io insieme ad Andrea curammo la
           parte informatica.
          Per quanto mi riguarda mi ero trovato molto bene con questi ragazzi, sia per
          la parte lavorativa che quella puramente relazionale, e’ stata un’esperienza
          molto interessante.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
