<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Terzi Alessandro - sito web</title>
    <link rel='stylesheet' href="../stylesheets/style.css">
  </head>
  <body>

    <div class="main">
      <div class="ale">
        <div class="immagine">
          <img src="../images/profilo.jpg" alt="">
        </div>

        <div class="presentazione">
          <h1>Ciao!</h1>
          <p>
            sono Alessandro,il ragazzo a sinistra, Benvenuti nel mio personalissimo sito
          </p>
          <p>
            <a href="alternanza.html" id="alternanza">alternanza 2017-2018 <span>></span></a>
          </p>

        </div>
      </div>
      <ul>

        <li>
          <a href="https://twitter.com/terzi333">
            <img src="../images/twitter.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/_alleterzi_/">
            <img src="../images/insta.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
        <li id="contatti">
          <p>
            Contatti:
          </p>
        </li>
      </ul>
    </div>
    <div class="parallax">

    </div>
    <div class="parallax1">

    </div>
    <div class="parallax2">

    </div>
  </body>

</html>
