<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Alternanza | Nonno Bit</title>
  <link rel='stylesheet' href="../stylesheets/style.css">
  <link rel='stylesheet' href="../stylesheets/articoli.css">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("#tornaSu").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $("#social").offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
  <style media="screen">
    .div1  {
      background-image: url("../images/nonnobit.jpg");
      position: relative;
      background-size: cover;
      background-attachment: fixed;
    }
    @media only screen and (max-width: 991px) {
      hr {
        margin-top:90px;
      }
    }
  </style>
</head>
<body>
<div class="container">
  <div class="div1" id="d1">
    <div class="bar">
      <div class="fixedMenu">
        <ul id="menu">
          <li id="back">
            <a href="../index.html"><h1> &lt </h1></a>
          </li>
          <li>
            <a href="#"><h1 id="titolo">PROGETTO NONNO BIT</h1></a>
          </li>
          <li id="img">
            <a href="http://pascal.gov.it/"><img src="../images/shell.png" width="30px"></a>
          </li>
        </ul>
      </div>

      <hr>
      <ul id="social">

        <li>
          <a href="https://twitter.com/terzi333">
            <img src="../images/twitter.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/_alleterzi_/">
            <img src="../images/insta.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
        <li>
          <a href="https://www.facebook.com/alessandro.terzi.71"><img src="../images/facebook.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="intro">
      <div class="hh">
        <h2>Introduzione</h2>
      </div>

        <p>
          l’ultimo progetto svolto durante l’attività di alternanza scuola
          lavoro di quest’anno è stato quello presentato dal responsabile del Comune,
          del progetto Nonno bit e Nonna Byte.
          Il responsabile ci ha assegnato
          la possibilità di progettare un edizione di Nonno bit/Nonna Byte,
          oppure di un corso simile ma per ragazzini. Il termine era fissato per
          venerdì 24 gennaio.
          Alla fine avremmo dovuto presentare davanti agli altri una vera e
          propria idea di progetto, con prezzo, stima dei guadagni, programma didatticco ecc..
          <br>
          Durante la mattinata inoltre, ci sono state presentate le varie differenze
          di skill nel mondo del lavoro, divise fra soft skill e skill di competenza.
          <br>
          Questo è il link per scaricare la presentazone completa :
          <a href="../images/YoundMind.odp" download>Download YoungMind</a>
        </p>

      <div class="hh">
        <h2>Il nostro team</h2>
      </div>

      <div class="pp">
        <p>
          per questo ultimo progetto ero in team con Adam, della mia classe,
          e due Filippo dell’altra classe.
          Noi avevamo realizzato un corso di HTML e CSS indirizzato ai ragazzini
          delle scuole medie, il  nome che avevamo deciso per il team era YoungMind.
          Io e Adam ci occupammo del programma formativo e del sito relativo al
          progetto, mentre Filippo e Filippo si occupavano della presentazione
          power point da mostrare al termine dell’attività.
          <br>
          avevamo lavorato molto bene seguendo questo modello, ed eravamo
          presto riusciti a completare il progetto. Per le decisioni riguardanti
          i costi, gli stipendi ed i guadagni ci eravamo confrontati tutti e 4 insieme,
          in questo modo appunto siamo riusciti a lavorare in modo molto efficente.
        </p>
      </div>

      <div class="hh">
        <h2>Il programma formativo e sito</h2>
      </div>

      <div class="pp">
        <p>
          Il programma formativo che abbiamo realizzato era decisamente completo,
          e preciso, qui di seguito è presente l’elenco delle lezioni con i
          rispettivi argomenti trattati. Anche il sito era fatto per presentare
          il progetto, era possibile infatti scaricare il programma formativo,
          <a href="../images/pf.docx" download>Download PF</a>
          c’era anche la possibilita’ di iscriversi direttamente al progetto.
          questo è il sito che avevamo realizzato :
          <a href="http://adamtaoufiq-com.stackstaging.com/youngmind/home.html" target="_blank">link</a>
          <img src="../images/strutturaLez.jpg" alt="struttura lezioni" class="immagini">
          <br>
          La nostra offerta era molto competitiva dal punto di vista economico ma anche
          molto precisa e specifica, con un target ben chiaro, il progetto era indirizzato
          ai ragazzi di terza
          media appunto.
          <br>
          Il nostro programma formativo oltre ad essere sia divertente che stimolante,
          era anche per l'orientamento per quanto riguardava l'indrizzo di scuola
          superiore da scegliere.

        </p>

      </div>

      <div class="hh">
        <h2>Conclusione</h2>
      </div>

      <div class="pp" id="conclusione">
        <p>
          Sinceramente ho trovato questo progetto leggermente più noioso e poco
          stimolante rispetto agli altri, soprattutto per la poco inerenza col nostro
          indirizzo di studio, comunque così come per tutte le altre attività,
          è servita per relazionarsi e lavorare in team oltre che ad avere una
          panoramica completa riguardo al mondo del lavoro.
          <br>
          In generale quindi questa alternanza scuola lavoro 2017-2018 mi è
          piaciuta, è stata un'esperienza per me nuova, abbiamo imparato
          e applicato cose imparate a scuola, in un ambiente molto piu' stimolante
          è professionale, ho sentito il passo successivo verso il mondo del lavoro,
          che alla fine è l'obbiettivo dell'alternanza.
          <br>
          certo ci sono state anche delle note dolenti, come
          alcune cose riguardanti il progetto <a href="./csharp.html">C#</a> e anche
          riguardante quest'ultimo. Inoltre a volte l'organizzazione non è stata delle migliori
          ma come già detto, sono rimasto soddisfatto.
        </p>
      </div>

    </div>
    <footer>
      <a href="#social" id="tornaSu">^</a>
    </footer>
  </div>
</body>
</html>
