<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Alternanza | Privacy</title>
  <link rel='stylesheet' href="../stylesheets/style.css">
  <link rel='stylesheet' href="../stylesheets/articoli.css">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("#tornaSu").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $("#social").offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
  <style media="screen">
    .div1  {
      background-image: url("../images/security.jpg");
      position: relative;
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="div1" id="d1">
    <div class="bar">
      <div class="fixedMenu">
        <ul id="menu">
          <li id="back">
            <a href="../index.html"><h1> &lt </h1></a>
          </li>
          <li>
            <a href="#"><h1 id="titolo">PROGETTO PRIVACY</h1></a>
          </li>
          <li id="img">
            <a href="http://pascal.gov.it/"><img src="../images/shell.png" width="30px"></a>
          </li>
        </ul>
      </div>

      <hr>
      <ul id="social">

        <li>
          <a href="https://twitter.com/terzi333">
            <img src="../images/twitter.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/_alleterzi_/">
            <img src="../images/insta.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://github.com/aleTerzi/"><img src="../images/Git_icon.png" alt=""></a>
        </li>
        <li>
          <a href="https://www.facebook.com/alessandro.terzi.71"><img src="../images/facebook.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="intro">
      <div class="hh">
        <h2>Introduzione</h2>
      </div>

        <p>
          il secondo progetto svolto riguardava la privacy e le politiche delle
          aziende riguardo al trattamento dei dati sensibili, in particolare e’
          stato messo il focus sulla nuova normativa europea che uscira’ a maggio(GDPR).
          Ci e' stato presentato il profilo lavorativo del DPO (data protection officer)
          e del responsabile della protezione dati, tutta la presentazione e' stata
          accompagnata da delle slide, ecco il link per scaricarle:
          <a href="../images/privacy.pdf" download>Download</a>. <br>
          Il progetto e’ stato presentato da Roberto Ghinolfi, socio di
          <a href="https://www.privacylab.it/" target="_blank">PrivacyLab</a>
          <img src="../images/privacylab.PNG" alt="" class="immagini">
          consisteva nel simulare una consulenza di auditing, in cui il consulente
          verificava le policy delle aziende riguardanti i dati sensibili.

          Eravamo divisi in 4 grandi gruppi. All’interno del gruppo poi si divideva
          un’altro gruppo di persone che avrebbe fatto l’agenzia di auditing mentre
          le restanti avrebbero rappresentato l’azienda.
          Il 16 gennaio, al termine del progetto si doveva esporre una relazione
          scritta dalla compagnia di auditing riguardante la policy delle azienda
          ascoltata.

        </p>

      <div class="hh">
        <h2>Il nostro team</h2>
      </div>

      <div class="pp">
        <p>
          io ero in gruppo con 8 persone della mia classe, e io rappresentavo
          il vertice dell’azienda che faceva uso dei dati sensibili. <br>
          Il nome che avevamo inventato per l'azienda era CC Data s.r.l, abbiamo cosi’
          esposto le nostre politiche all’agenzia di auditing che ha redatto
          una relazione abbastanza positiva, qui di seguito e' presente il link
          per scaricarla:
          <a href="../articoli/privacy/Policy Privacy and Personal Data.odt" download>download relazione</a>
          All'interno del team alcuni si sono occupati di creare delle
          politiche in linea con la nuova legge GDPR mentre alcuni controllavano
          le politiche di aziende come la nostra
        </p>
      </div>

      <div class="hh">
        <h2>L'esperienza di Auditing</h2>
      </div>

      <div class="pp">
        <p>
          abbiamo presentato come secondo gruppo, io personalmente ero colui
          che rispondeva a tutte le domande rivoltemi dalla compagnia di
          consulenza, queste di seguito sono le slide riguardanti le nostre
          politiche e la relazione. Le tematiche trattate erano queste :
          Condizione cookies, Trattamento dei dati e Gestione pagamenti,
          tematiche che erano fondamentali per il nostro tipo di azienda.
          La nostra sessione di Auditing era risultata piuttosto buona secondo
          Ghinolfi, in quanto avevamo pensato ad ogni possibile problema riguardante
          i dati sensibili.
        </p>

      </div>

      <div class="hh">
        <h2>Conclusione</h2>
      </div>

      <div class="pp" id="conclusione">
        <p>
          l’ho trovato un progetto dasvvero utile utile ed interessante,
          soprattutto perche’ non ero minimamente a conoscenza di questone settore
          lavorativo riguardante aziende specifiche, come PrivacyLba stessa,
          che tramite consulenze
          trattano la parte relativa alla privacy e ai dati sensibili.
          simile, e di quanto fossero meticolose le politiche delle aziende
          riguardo all’uso dei dati degli utenti
        </p>
      </div>

    </div>
    <footer>
      <a href="#social" id="tornaSu">^</a>
    </footer>
  </div>
</body>
</html>
