.div1  {
  background-image: url("../images/arduinoBack.jpg");
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.div1 #titolo{
  margin: 0;
  font-size:30px;
  font-weight: lighter;
  color: black;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

hr {
  width: 20%;
  margin-top: 70px;
}


.bar {
  background-color: #fff;
  position: relative;
  top: 0;
  width: 100%;
  height: 20%;
  margin: 0;
}

.fixedMenu {
  position: fixed;
  width: 100%;
  top:0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 7px;
  z-index: 100;
}

#menu {
  list-style: none;
  width: 960px;
  margin: 0 auto;
  height: 60px;

  padding: 0;

}

#menu li{
  float: left;
}

#menu li img{
  margin-top: 7px;
}

#menu a {
  display: block;
  width: 320px;
  text-decoration: none;
  text-align: center;
}

#menu li h1 {margin-top: 0}

#back {text-align: center;}

#back h1{
  border: 3px solid rgba(103, 103, 105, 0.5);
  width: 40px;
  margin: auto;
  border-radius: 50%;
  color: rgba(103, 103, 105, 0.5);
  padding-bottom: 2px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

#back h1:hover {
  color: rgba(103, 103, 105, 0.2);
  border: 3px solid rgba(103, 103, 105, 0.2);
}

#social li img{
  width: 22%;
}

#social {
  list-style: none;
  width: 960px;
  margin: 0 auto;
  height: 60px;
  margin-top: 20px;
  padding: 0;
}

#social li {
  float: left;
  margin-left: 35px;
}
#social a {
  width: 200px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.intro {
  width: 45%;
  margin: 0 auto;
  text-align: justify;
}

.intro h2 {
  text-align: center;
  font-family: 'Handlee', cursive;
  color: white;
  font-size: 30px;
  clear: left;
}
.intro p {
  margin: auto;
  font-family: 'Exo', sans-serif;
  color: white;
  font-size: 23px;
  margin: 20px 0px;
  clear: left;
  line-height: 34px;
}

.intro p a{
  text-decoration: none;
  color: #8a97f7;
}

.immagini {
  width: 52%;
  margin-top: 10px;
  float: left;
  padding-right:20px;
  padding-right:20px;
}

.intro p a:hover {
  text-decoration: underline;
}


#conclusione p{
  margin-bottom: 0;
  padding-bottom: 40px;
}

footer #tornaSu {
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  float: right;
  text-decoration: none;
  background-color: #242729;
  width: 38px;
  position: fixed;
  bottom: 10px;
  right: 15px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

/*SLIDER*/
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides1 {
  display: none;
	opacity: 0;
}

/* Next & previous buttons */
.prev, .next, .next1, .prev1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
	border-radius: 50%;
  //width: 50px;

  margin-top: -22px;
  padding: 15px 20px 15px 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next, .next1 {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover , .next1:hover, .prev1:hover{
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots .dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dots .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 991px) {
  .div1 {
    height: 100%;
  }
  .intro .hh {
    background-color: transparent;
    margin-top:110px;
  }

  hr {
    margin-top:80px;
  }

  .div1 #titolo {
    font-size: 20px;
  }

  .bar {
    width: 100%;
    height: 100px;
    margin: 0;
  }

  #menu {
    width: 300px;
    margin: 0 auto;
  }

  #menu img {
    width: 20%;
  }

  #menu a {
    margin: 0;
    width: 100px;
    text-decoration: none;
    text-align: center;
  }

  #social {
    width: 300px;
  }

  #social a {
    width: 30px;
  }

  #social li img {
    width: 30px;
  }

  .intro {
    width: 80%;
    margin: 0 auto;
  }

  .intro h2 {
    text-align: center;
    font-size:50px;
  }

}
